*
{
	box-sizing: border-box;
}
body
{
	background-color: #f6efed;
	font-family: 'Roboto';
}
img
{
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.postheadings
{
	font-size: 25px;
	text-align: center;
}
.post
{
	width: 600px;

	font-size: 18px;
	text-align: center;
	line-height: 1.3;

	padding-bottom: 7px;
	padding-right: 10px;
	padding-left: 10px;

	margin: 10px;

	background-color: #f6efed;

	box-shadow: 0 0 15px 0 #9a9594;
}
.flex-container
{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	padding-top: 5px;
}
#hello
{
	font-size: 60px;
	text-align: center;
	color: #ff0000;
}
#intro
{
	font-size: 20px;
	text-align: center;
}
#cartoonheader
{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
@media screen and (max-width: 1050px)
{
	#intro
	{
		text-align: justify;
		margin-right: 2px;
		margin-left: 2px; 
	}
}
@media screen and (max-width: 650px)
{
	#hello
	{
		font-size: 9vw;
	}
	#intro
	{
		font-size: 1em;
	}
}
@media screen and (max-width: 610px)
{
	#cartoonheader
	{
		font-size: 1.2em;
		font-weight: normal;
		text-align: justify;
		margin-right: 10px;
		margin-left: 10px;
	}
	.postheadings
	{
		font-size: 4vw;
		font-weight: normal;
	}
	.post
	{
		width: 99%;
		font-size: 1em;
		line-height: 1.2;

		margin-left: 2px;
		margin-right: 2px;
		margin-top: 7px;
		margin-bottom: 7px; 

		box-shadow: 0 0 10px 0 #9a9594;
	}
}