*
{
	box-sizing: border-box;
}
body
{
	background-color: #f6efed;
}
img
{
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.postheadings
{
	font-size: 25px;
	text-align: center;
}
.post
{
	width: 600px;

	font-size: 18px;
	text-align: center;
	line-height: 1.3;

	padding-bottom: 7px;
	padding-right: 10px;
	padding-left: 10px;

	margin: 10px;

	background-color: #ede1e1;
}
.flex-container
{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	padding-top: 5px;
}
#hello
{
	font-size: 60px;
	text-align: center;
	color: #ff0000;
}
#intro
{
	font-size: 20px;
	text-align: center;
}
#cartoonheader
{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
@media screen and (max-width: 1050px)
{
	#intro
	{
		text-align: justify;
		margin-right: 3px;
		margin-left: 3px; 
	}
}
@media screen and (max-width: 650px)
{
	#hello
	{
		font-size: 8.5vw;
	}
}
@media screen and (max-width: 610px)
{
	#cartoonheader
	{
		text-align: justify;
		margin-right: 10px;
		margin-left: 10px;
	}
	.postheadings
	{
		font-size: 4.5vw;
	}
	.post
	{
		width: 100%;
		font-size: 20px;
		line-height: 1.2;

		margin-top: 5px;
		margin-bottom: 5px; 
	}
}