* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background: #F7F7F7;
}
.header {
	padding: 20px;
	text-align: center;
	background: #EAEAEA;
	color: #1D1D1D;
}
.footerheading {
	padding: 20px;
	text-align: center;
	background: #EAEAEA;
	color: #1D1D1D;
}
.about {
	text-align: center;
}
img {
	width: 100px;
	border-radius: 50%;
}
.intro {
	padding: 10px;
	text-align: center;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.column {
	flex: 25%;
	max-width: 25%;
	padding : 0 6px;
	vertical-align: middle;
}
.card {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	background-color: white;
	color: black;
	margin-bottom: 20px;
	transition-duration: 0.2s;
}
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.topic {
	background-color: #EDEDED;
	padding: 6px;
}
.content {
	padding: 15px;
}
a {
	text-decoration: none;
}
/*Responsive design - changes to two column layout*/
@media (max-width: 650px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}
/*Responsive design - font size becomes variable*/
@media (max-width: 500px) {
	.header {
		font-size: 3vw;
	}
	.footerheading {
		font-size: 3vw;
	}
	.about {
		font-size: 3vw;
	}
}
/*Responsive design - changes to one column layout*/
@media (max-width: 400px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}